.container{
    background: lightgray;
}

.site-title{
    font-size: 2.5rem;
    margin: 1rem 0;
    padding-top: 10px;
    padding-left: 20px;
}


.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background: gray;
    font-family: 'work sans', sans-serif;
}

body{
    background: lightgray;
    
}

.navbar{
    background: #fdecf3;
    padding: 10px;
    margin: 1rem;
    font-family: 'work sans', sans-serif;
}

.search{
    padding: 20px;
    display: inline;
    font-family: 'work sans', sans-serif;
}

.col-sm-4{
    background: #ccc;
}

.other{
    background: darkgray;
}

.color2{
    display: inline;
}

.card{
    background: white;
    border-color: black;
    font-family: 'work sans', sans-serif;
}

.card2{
    margin: 1rem;
    background: lightslategray;
    border: solid black;
    height: 20rem;
    width: 90vw;
    font-family: 'work sans', sans-serif;
}

.btn-primary{
    background: lightgreen;
    color: white;
    
}